 /* Global class */
 *{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
 }
section{
    padding: 100px 0px;
    text-align: center;

}
p {
    font-size: 15px;
    font-weight: 300;
  
}
.heading {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 2px;
}
.sub-heading {
    font-size: 25px;
    line-height: 25px;
    text-transform: uppercase;
    margin: 10px 0px;
}
.underline {
    border-top: 5px solid #0000004a;
    width: 5%;
    margin: 10px auto;
}

.writing-part{
   margin-bottom: 50px;
}
/* Layout */
.container {
    width: 90%;
    margin: auto; 
}

.row {
    width: 100%;
    float: left;
}
.col-1 {
    width: 8.33%;
    float: left;}
.col-2 {
    width: 16.66%;
    float: left;}
.col-3 {
    width: 25%;
    float: left;}
.col-4 {
    width: 33.33%;
    float: left;}
.col-5 {
    width: 41.66%;
    float: left;}
.col-6 {
    width: 50%;
    float: left;}
.col-7 {
    width: 58.33%;
    float: left;}
.col-8 {
    width: 66.66%;
    float: left;}
.col-9 {
    width: 75%;
    float: left;}
.col-10 {
    width: 83.33%;
    float: left;}
.col-11 {
    width: 91.66%;
    float: left;}
.col-12 {
    width: 100%;
    float: left;}
    /* Header-part */
    header {
        background-color: #87509c;
    }
    nav{
        padding: 10px 0px;

    }
    .logo-part {
        padding: 10px 0px;
    }
    .menu-part{

    }
    .menu-part ul {
        text-align: right;
        padding: 12px 0px;
    }

  .menu-part li {
        list-style: none;
        display: inline-block;
        margin: 0px 10px;
        padding: 7px;
}
 .menu-part li :hover{
    background: #00000042;
    border-radius: 5px;
    transition: ease-in-out 0.5s;
    
 }
 .menu-part li a {
    font-size: 17px;
    font-weight: 400;
    line-height: 17px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
.hero-part {
    text-align: center;
    padding: 150px 100px;
}
.hero-part h1{
   font-size: 50px;
   line-height: 50px;
   color: #fff;
}
.hero-part button{
    background-color: #eb7d4b;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    width: 200px;
    margin-top: 40px;

}
    #service{
        background-color: #17c2a4;
        color: white;
     }
     .service-box{
        padding: 0px 25px;
     }
     .service-box img{
        height: 150px;
     }
     #team{
        background-color: #e7f1f8;
        color: #3c4761;
    }
 .des{
    color:#30bae7 ;
    font-size: 17px;
    font-weight: 400;

    }
    .team-icon{
        margin-top: 14px;
    }
    .team-icon i{
        color: #fff;
        background: #94bcc2;
        padding: 10px;
        margin: 0px 5px;
        border-radius: 50%;
        width: 40px;
 
    }
    #portfolio{
        background-color: #ffdd99;

    }
    .portfolio-btn-part{

    }
    .portfolio-btn-part button{
        padding: 5px 20px;
        margin: 0px 5px;
        text-transform: uppercase;
        background: #00000030;
        transition: ease-in-out 0.5s;
    }
    .portfolio-btn-part button:hover{
        background-color: #fff;
    }
    .portfolio-box-part{
        margin: 20px;
    }
    .load-btn{
        background-color: #17c2a4;
        color: #fff;
        padding: 10px;
        font-size: 20px;
        font-weight: 500;
        text-transform: uppercase;
        width: 200px;
        margin-top: 40px;

    }
    #about{
        background-color: #d74680;
        color: #fff;

    }
    .about-img img{
        width: 50%;
    }
    #contact{
        background-color: #3c5499;
        color: #fff;
    }
    input {
        background-color: #273a71;
        color: white;
        display: block;
        width: 50%;
        padding: 10px;
        margin-left: 222px;
    }
    .form-part-one{

    }
    .form-name{
        text-align: end;
    }
    input[type="text"]{
        width: 50%;
        background: 273a71;
        padding: 10px;
        margin-right: 1%;
    }
    .form-email{
        text-align: start;
    }
    input[type="email"]{
        width: 50%;
        background: 273a71;
        padding: 10px;
        margin-left: 1%;
    }
    .form-part-two{

    }
    textarea{
        width: 51%;
        background: #273a71;
        margin-top: 10px;
        padding: 10px;
        color: #fff;

    }
    input[type="submit"]{
        display: block;
        margin: 10px auto 0px;
        background-color: #30bae7;
        color: #fff;
        padding: 10px;
        font-size: 20px;
        font-weight: 500;
        text-transform: uppercase;
        width: 200px;
    }
    input::placeholder,textarea::placeholder{
        color: #fff;
    }
    footer{
        background: #344b8e;

    }
    footer ul{
        text-align: center;
        padding: 20px 0px;

    }
    footer li{
        display: inline-block;
        margin: 0px 10px;

    }
    footer a{
        font-size: 20px;
        font-weight: 600;
        text-transform:lowercase;
        text-decoration: none;
        color: #fff;

    }